*{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@mixin anclas{
    color: #fff;
    text-align: center;
}

// variables
$color1:rgb(179,133,220);
$color2:rgb(229,196,223);
$color3:rgb(182,127,208);
$color4:rgb(169, 77,192);

// body
body{
    background-color: #D9AFD9;
background-image: linear-gradient(358deg, #D9AFD9 0%, #97D9E1 100%);
}

.navbar {
background-color: $color1;
}

.navbar-brand {
    color: $color2 !important;
    font-size: x-large;
    font-weight: bold;
    img {
        height: 80px;
    }
}

.nav-link {
    color: #fff !important;
    text-shadow: 0, 0, 5px #000;
    font-size: x-large;

    &:hover {
        color: $color2 !important;
    }
}

/*main*/

main{
    margin: 20px;
    padding: 20px;
}

h1{
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2, h3{
    text-align: center;
    text-decoration: solid;
    margin: 10px  0px ;
}

.descripcion{
    text-align: center;
    font-size: large;
    color: #fff;
    //text-shadow: 1px 1px 10px #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p{
    text-align: center;
}

.destinos p{
    font-size: 25px;
    color: #212121;
    padding: 10px;
}

.destinos{
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.contenedorDestinos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%,25rem), 1fr));
    gap: 1rem;
}
.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border: radius 10%;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    margin: 10px;

    img {
        max-width: 50%;
        align-items: center;
        margin: 15px;
        }
    
    button {
        background-color: $color3;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 1 rem;
        cursor: pointer;
        margin: 10px;

        &:hover {
        background-color:$color4;
        }
    }
}

/* footer */

.footer{
    padding: 30px 0;
    font-size: 20px;
    @include anclas
}

footer {
    .redes {
        text-align: center;
        background-color: $color1;
        padding: 30px;

            a {
                text-decoration: none;
                text-align: center;

                i {
                    font-size: 50px;
                    letter-spacing: 30px;
                    @include anclas
                }
            }
    }

        p {
            margin-bottom: 30px;
            color: #fff;
            font-size: larger;
    }


}



/* index */

.jumbotron{
    height: auto;
    background-image: url(../img/5.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-weight: bold;
    font-size:medium;
    text-shadow: 0, 0, 5px #000;
    color: hsl(229,196,223)!important
}

h2{
    background-color: $color1;
    padding:30px;
    font-weight: bold;
    text-shadow: 0 0 5px #000f;
    @include anclas
}

/* contacto */

.formulario {
    display: grid;
    place-items: center;
    text-align: center;
}

.btn{
    background-color: $color3!important;
    border: none;
    color:#fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 10px;
}

iframe {
    max-width: 100%;
}

/* productos */

.contenedorProductos {
    p {
        font-size: 2rem;
        color: #212121;
        padding: 10px;
    }

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%,25rem), 1fr));
    gap: 20px;
}
.productos{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
