*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Noto Sans", sans-serif;
      }

.navbar{
    background-color: rgb(179,133,220);
}

.navbar-brand{
    color: rgb(229,196,223)!important
}

.navbar-brand img{
    height: 80px;
}

.nav-link{
    color: #fff!important;
    text-shadow: 0, 0, 5px #000;

}
.nav-link:hover{
    color: rgb(81,213,215) !important;
}

/*main*/

main{
    margin: 20px;
    padding: 20px;
}

h2, h3{
    text-align: center;
    text-decoration: solid;
    margin: 10px  0px ;
}

p{text-align: center;
}

.destinos p{
    font-size: 2rem;
    color: #212121;
    padding: 10px;
}
.contenedorDestinos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.destinos{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.tarjeta img{
    max-width: 50%;
    align-items: center;
}
.tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    margin: 10px;
    max-width: 80%;
}
.tarjeta button{
    background-color: #53a840;
    color: rgb(17, 101, 174);
    border: none;
    padding: 10px 20px;
    font-size: 1 rem;
    cursor: pointer;
    margin: 10px;
}
.tarjeta button:hover{
    background-color: rgb(169, 77, 192);
}

/* footer */

.footer{
    background-color:rgb(220, 161, 133);
    padding: 30px 0;
    color:#fff;
    font-size: 20px;
    text-align: center 
}
footer .redes{
    text-align: center;
}
footer .redes i{
    color:rgb(179,133,220);
    font-size: 50px;
    letter-spacing: 30px;
    text-align: center 
}

footer .redes a{
    text-decoration: none;
    text-align: center;
}

footer p{
    margin-bottom: 30px;
}

/* index */

.jumbotron{
    height: 200px;
    background-image: url(../img/5.png);
    text-align: center;
    font-weight: bold;
    font-size:large;
    text-shadow: 0, 0, 5px #000;
    color: hsl(229,196,223)!important   
}

h2{
    text-align: center;
    background-color: rgb(179,133,220);
    padding:30px;
    font-weight: bold;
    color:#fff;
    text-shadow: 0 0 5px #000f;
}

/* contacto */
 
form{
    display: inline-block;
    margin-top: 0cm;
    margin-left: auto;
    padding:0cm;
    float: none;
    justify-content: center;
    align-items: center;
}

 .btn{
    background-color: rgb(208,182,235)!important;
    border: none;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 10px;
}

/* PRODUCTOS */

.contenedorProductos p{
    font-size: 2rem;
    color: #212121;
    padding: 10px;
}
.contenedorProductos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.productos{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

